---
# Configure DHCP servers

- name: Configure DHCP shared networks
  vyos.vyos.vyos_config:
    lines:
      - set service dhcp-server shared-network-name {{ item.zone_name }} description '{{ item.description }}'
  loop: "{{ dhcp_servers }}"

- name: Configure DHCP subnets
  vyos.vyos.vyos_config:
    lines:
      - set service dhcp-server shared-network-name {{ item.zone_name }} subnet {{ item.subnet }} default-router {{ item.default_router }}
      - set service dhcp-server shared-network-name {{ item.zone_name }} subnet {{ item.subnet }} lease {{ item.lease }}
      - set service dhcp-server shared-network-name {{ item.zone_name }} subnet {{ item.subnet }} range 0 start {{ item.range.start }}
      - set service dhcp-server shared-network-name {{ item.zone_name }} subnet {{ item.subnet }} range 0 stop {{ item.range.stop }}
  loop: "{{ dhcp_servers }}"

- name: Configure DHCP DNS servers
  vyos.vyos.vyos_config:
    lines:
      - set service dhcp-server shared-network-name {{ item.0.zone_name }} subnet {{ item.0.subnet }} name-server {{ item.1 }}
  loop: "{{ dhcp_servers | subelements('dns_server') }}"

- name: Configure DHCP domain names
  vyos.vyos.vyos_config:
    lines:
      - set service dhcp-server shared-network-name {{ item.zone_name }} subnet {{ item.subnet }} domain-name {{ item.domain_name }}
  loop: "{{ dhcp_servers }}"
  when: item.domain_name is defined
